.topnav {
  background-color: #E6D2BA;
  overflow: hidden;
}

.topnav a {
  float: left; 
  color: #000000; /* meny-bar tekten farge */ 
  text-align: center; /* skal være i midten av meny-bar boksen */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #DCFFFB; /* farge inni boksen */
  color: #E0BBE4; /* farge teksten på meny-bar, når man trykke på */
}

.topnav a.active {
  background-color: #998B79; /* farge på første meny-bar boksen */
  color: 1A1714; /* farge på "Startmenyen" */
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body { 
  background-image: url(778.jpg);
}

h1 {
  color: #FFFFFF; /* farge på teskten */
  background-color: #C0B4A5; 
  font-family: copperplate;
  margin-left: 40px; /* hvor skal teksten være og str */
  text-align: center; /* for teskten skal være i midten av side */
}

h2 {
  color: #000000; /* farge på teskten */
  font-family: helvetica;
  margin-left: 35px; /* hvor skal teksten være og str */
  text-align: left; /* for teskten skal være i midten av side */
}

h3 {
  color: #000000; /* farge på teskten */
  font-family: helvetica;
  margin-left: 30px; /* hvor skal teksten være og str */
  text-align: center; /* for teskten skal være i midten av side */
}
p {
  color: Black;
  font-family: helvetica;
  margin-left: 25px; 
  text-align: left;
}

.img-container {
        text-align: center;
        display: block;
}

