* {
    margin: 20; /* gjør marginen mindre */
    padding: 30;
}

body 
  

iframe { /* video*/
    min-width: 50px;
    width: 640px;
    height: 456px;
    margin: 0;
    border: 0;
    float: right;
} 
nav {
   width: 100%; /*gjør at navigasjonsbaren står horisontalt */
   height: 90px;
   background-color: rosybrown;
   color: white; /* farge på "Startmenyen" */
}
p  { /*hvordan teksten på nettsiden skal være */
    font-family: cursive;
    color: #222;
    font-size: 24px; 
    line-height: 55px;
    float: left;
    padding: 0px 20px;
    
}

ul { /* uorganiserte lenker */
    float: right;
    padding-right: 13px;
}

nav ul li{ /* liste for nedtrekk */
    float: left;
    list-style: none; 
    position: static;
}

nav ul li a { /* menybar*/
    display: block;
    font-family: cursive; /*skrifttype*/
    color: #222; /*farge på skrift*/
    font-size: 15px; /*str på menybaren*/
    padding: 20px 15px; /*h & b*/
    text-decoration-line: none; /* strek under ord*/
}

nav ul li ul {
    display: none;
    position: inherit; /*kan flytte bilde og tekst vekk fra nedtrekkslisten om en ikke vil ha den i veien + nedtrekkslisten kommer på linje under nedtrekksordet*/
    background-color: ; /*nedtrekksliste  bakgrunn */
    padding: 20px; /* avstand fra side til side på nedtrekksliten */
    border-radius: 4px 4px 0px 0px; /* ?? */    
}

nav ul li:hover ul {
    display: block;
    
}
nav ul li ul {
    width: 180px;
    border-radius: 4px; 
   
}
 a {
    padding: 8px 14px;
     background-color: whitesmoke;
}   

    
a:hover { /* hvordan pekeren oppfører seg */
    background-color: #f3f3f3; 
    font-size: 12px;

}

img {
        height: 450px; /*høyde på bilde*/
        width: 450px; /*bredde på bilde*/
        float: right; /* bestemmer hvilken side bildet skal være på*/     margin-left:15px; 

}

main {
	display: grid; /* Definerer at sidene skal vises med grids*/
	
}
 .footer {
  
  text-align: left;
  
   
} 


















